.lab-component {
  background-color: #ffffff;

  padding: 20px;
  margin: 20px;
  flex: 1 1 300px;

  border-radius: 50px;
  background: #fad2d8;
  box-shadow: 20px 20px 60px #fff5e7, -20px -20px 60px #bfa5a3;
}

.lab-component h2 {
  color: #750616;
}

.lab-component p {
  color: #000000;
} 