.lab-component {
    background-color: white !important;
    /* border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    padding: 20px;
    margin: 20px;
    flex: 1 1 300px;

    border-radius: 50px;
  background: white;
  box-shadow: 20px 20px 60px #ffffff, -20px -20px 60px white;
  }

  
  .lab-component h2 {
    color: #333;
  }
  
  .lab-component p {
    color: #000000;
    font-size: 20px;
    
  }