.lab-component {
  background-color: #ffffff;

  padding: 20px;
  margin: 20px;
  flex: 1 1 300px;

  border-radius: 50px;
  background: white;
  box-shadow: 20px 20px 60px #b391cc, -20px -20px 60px #b391cc;
}

.lab-component h2 {
  color: #010c3d;
}

.lab-component p {
  color: #000000;
} 