.gallery{
  width: 90%;
  margin: 10% auto;
  text-align: center;
}
  .masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    /* margin-left: -30px; */
    width: auto;
  }
  .masonry-grid_column {
    padding-left: 5px; /* gutter size */
    background-clip: padding-box;
  }
  
  /* Style your items */
  .masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
    background: grey;
    margin-bottom: 5px;
  }