/* Contact.css */

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensure full height of the viewport */
  }
  
  .contact-card {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
  }
  
  .contact-card h2 {
    color: #333;
  }
  
  .contact-info {
    margin-top: 20px;
  }
  
  .contact-info p {
    margin: 10px 0;
  }
  