/* Contact.css */
.responsivemap {
  overflow: hidden;
  height: auto;
  padding-bottom: 30%;
  position: relative;
}

.responsivemap iframe {
  border: 0;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  padding-bottom: 0;
  position: absolute;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensure full height of the viewport */
  }
  
  .contact-card {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    margin: 10px;
    background-color: #a7b3ff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
  }
  
  .contact-card h2 {
    color: #333;
  }
  
  .contact-info {
    margin-top: 20px;
  }
  
  .contact-info p {
    margin: 20px 0;
  }

  @media (max-width: 1200px) {
    .responsivemap {
      padding-bottom: 50%; /* Adjust width for smaller screens */
    }
  }
  @media (max-width: 768px) {
    .responsivemap {
      padding-bottom: 80%; /* Adjust width for smaller screens */
    }
  }