.lab-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.lab-component {
  background-color: #a3a5f8;
  /* border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  padding: 20px;
  margin: 20px;
  flex: 1 1 300px;

  border-radius: 50px;
  background: #a3a5f8;
  box-shadow: 20px 20px 60px #8b8cd3, -20px -20px 60px #bbbeff;
}

.lab-component h2 {
  color: #333;
}

.lab-component p {
  color: #666;
}

