.lab-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.lab-component {
  background-color: #ffffff;

  padding: 20px;
  margin: 20px;
  flex: 1 1 300px;

  border-radius: 50px;
  background: #ffffff;
  box-shadow: 10px 10px 30px #d7f1fa, -10px -10px 30px #d7f1fa;
}

.lab-component h2 {
  color: #010c3d;
}

.lab-component p {
  color: #000000;
}

