/* Card.css */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
  }
  .members {
    text-align: center;
  }
  .card {
    flex: 1 1 45%;
    margin: 10px;
    padding: 16px;
    color: rgb(9, 9, 104);
    max-width: 300px;
    height: auto;
    box-sizing: border-box;
    background-color: #a7b3ff; /* White background */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Light black shadow */
  }
  
  .card-image {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
    aspect-ratio: 1/1;
    object-fit:fill;
  }
  
  .card-description {
    margin-top: 10px;
  }
  
  .card-button {
    margin-top: 10px;
    padding: 8px;
    cursor: pointer;
  }
  
  .more-info {
    margin-top: 10px;
    background-color: #a7b3ff;
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  .card-button {
    margin-top: 10px;
    padding: 8px;
    cursor: pointer;
    background: none;
    border: none;
    display: flex;
    align-items: center;
  }
  
  .arrow-icon {
    width: 16px;
    height: 16px;
    transition: transform 0.3s ease-in-out;
  }
  
  .rotate {
    transform: rotate(180deg);
  }
   .plink{
    color: inherit;
   }
  

    .card {
      width: calc(33.33% - 20px); /* Adjust width for smaller screens */
    }
  
  
  @media (max-width: 768px) {
    .card {
      width: calc(50% - 20px); /* Adjust width for smaller screens */
    }
  }
  
  @media (max-width: 480px) {
    .card {
      width: calc(100% - 20px); /* Adjust width for even smaller screens */
    }
  }
  
  