/* Heading.css */

.heading-container {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
    align-items: center; /* Ensure full height of the viewport */
  }
  
  .heading-content {
    font-weight: bold;
    color: rgb(19, 19, 73);
    text-decoration: underline;
  }
  