body {
  font-family: "Poppins", sans-serif !important;
  margin: 0;
  padding: 0;
}
.pro {
  text-align: center;
  padding: 20px;
}
.lab-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
