/* Footer.css */
.footer-container {
  background: #750616;
  color: white;
  /* padding: 5px; */
  text-align: center;
  height: 250px;
  position: -webkit-sticky;
  position: sticky;
  /* margin: -9px; */
  
}

.footer-logos {
  display: flex;
  justify-content: space-between;
 
}

.logo-left {
  max-width: 6em;
  padding:2px;
  height: auto;
}
.logo-right {
  max-width: 10em;
  max-height: auto;
  padding: 2px;
  height: auto;
}



.footer-icons {
  font-size: 24px;
}

.footer-icons a {
  color: #fff;
  text-decoration: none;
}

.footer-copyright {
  font-size: 14px;
}

