/* Footer.css */
.footer-container {
  background-color: #750616;
  color: white;
  padding: 18px;
  text-align: center;
  height: 300px;
  position: -webkit-sticky;
  position: sticky;
  
}

.footer-logos {
  display: flex;
  justify-content: space-between;
 
}

.logo-left {
  max-width: 6em;
  height: auto;
}
.logo-right {
  max-width: 9em;
  height: auto;
}

.footer-address {
  
}

.footer-icons {
  font-size: 24px;
}

.footer-icons a {
  color: #fff;
  text-decoration: none;
}

.footer-copyright {
  font-size: 14px;
}

