.pro {
  text-align: center;
  padding: 20px;
}

.collaborator-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}



.collaborator-container img {
  margin: 10px;
  max-width: 50rem;
  max-height: 10rem;
}

.project-table {
  width: 100%;
  border: 2px solid #ddd;
  margin-top: 20px;
  border-radius: 50px;
  background: #bfa5a3;
  box-shadow: 10px 10px 30px #fff5e7, -10px -10px 30px #bfa5a3;
}

.project-table th,
.project-table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.project-table th {
  background-color: #750616; 
  text-transform: uppercase;
  font-size: 14px;
  color: #ffffff; 
}

.project-table tbody tr:nth-child(even) {
  background-color: #ffbbc5;

}
.project-table tbody tr:nth-child(odd) {
  background-color: #fad2d8;
 
}


.project-table tbody tr:hover td {
  background-color: #750616 !important;
  color: white;   
}

.project-table tbody td {
  font-size: 20px;
  color: #000000;
}

.project-table tbody tr {
  height: 50px; 
}

.project-table tbody td {
  padding: 30px;
}

@media (max-width: 800px) {
  .project-table tbody td {
    padding: 10px;
    font-size: 15px;
  }
}
@media (max-width: 480px) {
  .project-table tbody td {
    padding: 7px;
    font-size: 12px;
  }
}
